@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: white;

}



h2 {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.logo img {
    margin-left: 8rem;
    width: 5%;
    height: 5%;
}

button {
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid;
    cursor: pointer;
}


header {

    width: 100%;
    height: 100px;
    background-color: rgba(246, 242, 242, 0.979);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: rgb(6, 6, 6);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;

}

.nav-bar ul li a:hover {
    color: whitesmoke;
    background-color: #2863e3e2;
}

/* Esta clase solo deja un boton activo todo el tiempo por ahora. */
.nav-bar ul li a.active {
    color: black;
    background-color: #fefefe;
}

/* Media query deja un espacio en los padding laterales  */
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

/* Esta media query crea el menu hamburguesa. Fijarse que lo diseña todo para esta medida- Lo que agrega es un heigh*/
@media only screen and (max-width: 900px) {

    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: rgb(12, 11, 11);
        margin: 6px 0;
    }

    /* El margin hay que revisarlo.  Un detalle a tener en cuenta se agrega un height para editar el contenido*/
    .nav-bar {
        margin-top: 79px;
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgb(243, 237, 237);
        transition: 0.2s;
        overflow: hidden;
        z-index: 999;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;

    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

/* CSSS PARA EL login modal  */
@media only screen and (max-width: 900px) {
    .modalLogin {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */


button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 25%;
    /* border-radius: 50%; */
}

.containerModal {
    padding: 16px;
}

.containerModal h3 {
    text-align: center;
    text-transform: uppercase;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modalLogin {
    display: none;

    z-index: 8;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    height: 100%;

    background-color: rgb(0, 0, 0);

    background-color: rgba(0, 0, 0, 0.837);



}

/* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    margin: 5% auto 15% auto;

    border: 1px solid #888;
    width: 80%;

}


/* The Close Button (x) */
.closeModal {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/* Fin  login modal  */
/* CSSS PARA EL hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 2rem;
    overflow: hidden;
    background-size: cover;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.65) 100%), url(qijin-xu.png) no-repeat center center scroll; */
}

.title-h1 {
    font-style: normal;
    font-weight: bold;
    color: #eee;
    font-size: 11vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 35px;
    position: absolute;
    z-index: 1;
    margin-bottom: 5rem;
}

.title-h1 p {
    font-style: normal;
    font-weight: bold;
    color: black;
    letter-spacing: 0.03em;
    line-height: 1;
    font-size: 3rem;
    padding: 5rem;
}

.title-h1 .btn-hero {
    font-style: normal;
    font-weight: bold;
    color: black;
    letter-spacing: 0.03em;
    line-height: 1;
    font-size: 1.5rem;
    background-color: white;
}

video {
    z-index: -1;
    opacity: 0.75;
}


/* CSS PARA la mision 

 */

.mission__btn {
    padding-top: 3rem;

}



.informacion {

    border-radius: 20px;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 3rem;

}

.informacion:hover {
    background-color: black;
    color: white;
}

/* ########### mission ################### */
.mission {
    color: black;
    font-weight: 500;
    background-image: url(./images/haflogo-40.png );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 5rem;

}

.title__h2--mision {
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-weight: bolder;
}

/* .title__mission {
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
} */

.title__mission--p {
    font-size: 1.5rem;
    word-spacing: 5px;
    line-height: 2.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;

}

.title__h2--btn {
    font-size: 2rem;
    width: 50%;
    line-height: 3rem;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
    line-height: 10px;
}

.svg {
    margin-top: 6rem;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;

}

.gif {
    height: 123px;
    width: 123px;

}


/* .svg img {
    animation: spin-fade 8s linear infinite;
} */

@keyframes spin-fade {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    50% {
        opacity: 0.8;
        transform: rotate(180deg);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}




/* SECCION TARJETAS  */
.services__card {
    display: flex;
    justify-content: space-around;
}

/* 
tarjetas popup */
.classOnline {
    position: absolute;
    z-index: 3;
    top: 0%;
    animation-name: slide-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.close {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    color: blue;
}

.card-h5 {

    color: blue;
    font-size: 18px;
    /* Agrega otros estilos comunes aquí */
}

.card-text {
    color: black;
    font-size: 1.2rem;
}

.card-color {
    background-color: lightblue;
    border-radius: 10px;
}

@media (min-width:570px) {
    .services {
        flex-direction: row;
    }
}


/* @keyframes popUpAnimation {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1);
    }
} */

/* .box {
    animation: slide-in 1000ms;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
  } */
@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}



/* ########### CARDS ################### */



.h2__services {
    padding-top: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 9999;
}

.popup-content {
    text-align: center;
}

.show-popup {
    display: block !important;
}



/* ########### about ###########*/
.title__h2 {
    margin-top: 3rem;
    padding: 78px 0px;
    width: 100%;
    font-size: 3rem;
    display: flex;
    justify-content: start;
    font-style: italic;
    text-decoration: underline rgb(80, 203, 255);


}

.title__h2--about {
    margin-top: 3rem;
    padding: 10px 0px;
    width: 100%;
    font-size: 3rem;
    text-decoration: underline rgb(80, 203, 255);
    text-align: center;

}

.about-left {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #49b9d29c 0%, #d1cbd4 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff
}

.about-left-content>div {
    background: #12192c;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;

    border-radius: 12px 12px 0 0;
}

.about-left-content {
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
    width: 80%;
}

.about-img img {
    display: block;
    width: 200px;
}

.about-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.shadow {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}



.about-left-content h2 {
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid lightblue;
}

.about-left-content h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}

.icons {
    background: #12192c;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 12px 12px;
}

.icons li {
    list-style-type: none;
    background: #2136ffb5;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.icons li:hover {
    background: #edffec;
    color: #000;
}

.about-right {
    background: lightblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
    color: black
}



.about-btns {
    display: flex;
    margin: 2rem 0;
}

.btn {
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    color: #fff
}

.btn.btn-link {
    background: #2136ffb5;
    color: #fff;
    border-color: white;
    transition: all 0.5s ease-in-out;
}

.btn.btn-link:hover {
    background: transparent;
    border-color: #fff;
    color: #000000;
}

.about-para p {
    font-weight: 500;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px) {
    .about-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .about-left {
        position: relative;
    }

    .about-left-content {
        position: absolute;
        width: 80%;


    }
}





/* ########### testimonial part  ###########*/
.container__testimonial {
    height: 80;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}

.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.details .job {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

/* swiper button css */
.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #fff;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #4070f4;
}

@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }

    .nav-btn {
        display: none;
    }
}


/* .review__items img {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
} */

.review__items h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.review__items p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
}

.review__button {
    text-align: center;
    padding: 10px;
}

.review__button button {
    color: lightblue;
    background: rgb(14, 14, 14);
    font-weight: bold;
}

.review__items {
    /* display: none; */
    opacity: 0;
    animation-name: listado;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.review__items.active {
    opacity: 1;
}

@keyframes listado {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* ########### Formulario ###########*/
/* lineas ? */

.lineas {
    position: relative;
    /* background: #131b33; */
    background: rgba(8, 8, 8, 0.968);
    max-width: 50rem;
    margin: 0 auto;
    padding: 22px;

    /* width: 300px;
    height: 400px; */
    overflow: hidden;
}


.lineas span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #17f3fd);
    animation: animate-1 2s linear infinite;
}

@keyframes animate-1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}


.lineas span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #17f3fd);
    animation-delay: 1s;
    animation: animate-2 2s linear infinite;
}

@keyframes animate-2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.lineas span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #17f3fd);
    animation: animate-3 2s linear infinite;

}

@keyframes animate-3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.lineas span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to left, transparent, #17f3fd);
    animation-delay: 1s;
    animation: animate-4 2s linear infinite;
}

@keyframes animate-4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9fa4c;
    border: 1px solid #cccccc00;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: rgba(247, 246, 246, 0.742);
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0d0d0d00;
    border-radius: 5px;
    font-size: 16px;
}

.submit-btn-wrap {
    text-align: center;
}

.theme-btn {
    background-color: #060707;
    color: rgb(253, 253, 253);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.theme-btn:hover {
    background: black;
    color: white;
}


.seccion {
    margin-top: 5rem;
    padding: 4rem;
}

/* footer desing */

footer {
    margin-top: 6.5rem;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.592);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}


footer .menu li a {
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;

}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}