* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: white;
}

h1 {
    text-align: center;
    padding: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.logo img {
    margin-left: 8rem;
    width: 5%;
    height: 5%;
}

button {
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid;
    cursor: pointer;
}


header {

    width: 100%;
    height: 100px;
    background-color: rgba(246, 242, 242, 0.979);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: rgb(6, 6, 6);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;

}

.nav-bar ul li a:hover {
    color: whitesmoke;
    background-color: #2863e3e2;
}

/* Esta clase solo deja un boton activo todo el tiempo por ahora. */
.nav-bar ul li a.active {
    color: black;
    background-color: #fefefe;
}

/* Media query deja un espacio en los padding laterales  */
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

/* Esta media query crea el menu hamburguesa. Fijarse que lo diseña todo para esta medida- Lo que agrega es un heigh*/
@media only screen and (max-width: 900px) {

    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: rgb(12, 11, 11);
        margin: 6px 0;
    }

    /* El margin hay que revisarlo.  Un detalle a tener en cuenta se agrega un height para editar el contenido*/
    .nav-bar {
        margin-top: 79px;
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgb(243, 237, 237);
        transition: 0.2s;
        overflow: hidden;
        z-index: 1;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;

    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

/* CSSS PARA EL CARROUSEL */
.carousel.container-fluid {
    padding-bottom: 5rem;
    max-width: 80rem;
    /* Ajusta el valor según tus necesidades */
}

.title__h5 {
    font-size: 2rem;
    color: black;
}

.title__h5--p {
    font-weight: bold;
    font-size: 1.5rem;
}

/* CSS PARA la mision 

 */

.mission__btn {
    padding-top: 3rem;

}



.informacion {
    
    border-radius: 20px;
    padding: 10px;
    text-transform: uppercase;
}
.informacion:hover{
    background-color: black;
    color: white;
}

/* ########### mission ################### */
.mission {
    color: black;
    font-weight: 500;
    background-image: url(./images/haflogo-40.png );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 5rem;

}

.title__h2--mision {
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-weight: bolder;
}

.title__mission {
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.title__mission--p {
    font-size: 1.5rem;
    word-spacing: 2px;
    line-height: 2.5rem;
    font-weight: 700;

}

.title__h2--btn {
    font-size: 2rem;
    width: 50%;
    line-height: 3rem;
}

.svg {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;

    cursor: pointer;

}

.svg img {
    animation: spin-fade 8s linear infinite;
}

@keyframes spin-fade {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    50% {
        opacity: 0.8;
        transform: rotate(180deg);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}




/* SECCION TARJETAS  */
.services__card {
    display: flex;
    justify-content: space-around;
}

/* 
tarjetas popup */
.classOnline {
    position: absolute;
    z-index: 3;
    top: 0%;
    animation-name: popUpAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}


.close {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    color: blue;
}

.card-h5 {
    color: blue;
    font-size: 18px;
    /* Agrega otros estilos comunes aquí */
}
.card-text{
    color: black;
    font-size: 1.2rem;
}
.card-color{
    background-color: lightblue;
    border-radius: 10px;
}


@keyframes popUpAnimation {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1);
    }
}




/* ########### CARDS ################### */



.h2__services {
    padding-top: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 9999;
}

.popup-content {
    text-align: center;
}

.show-popup {
    display: block !important;
}



/* ########### about ###########*/
.title__h2 {
    margin-top: 3rem;
    padding: 78px 0px;
    width: 100%;
    font-size: 3rem;
}

.about img {
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 45px;
}

.about-btn {
    font-size: 1.5rem;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 20px;
    transition: .4s;
    background-color: lightskyblue;

}

/* ########### Formulario ###########*/
/* lineas ? */

.lineas{
    position: relative;
    /* background: #131b33; */
    background:rgba(8, 8, 8, 0.968) ;
    max-width: 50rem;
    margin: 0 auto;
    padding: 22px;
    
    /* width: 300px;
    height: 400px; */
    overflow: hidden;
}


.lineas span:nth-child(1){
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 3px;
background: linear-gradient(to right, transparent,#17f3fd
);
animation: animate-1 2s linear infinite;
}
@keyframes animate-1{
0%{
    transform: translateX(-100%);
}
100%{
    transform: translateX(100%);
}
}


.lineas span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent,#17f3fd);
    animation-delay: 1s;
    animation: animate-2 2s linear infinite;
    }
    @keyframes animate-2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
    }

    .lineas span:nth-child(3){
        position: absolute;
        bottom:0;
        right:0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to left, transparent,#17f3fd);
        animation: animate-3 2s linear infinite;
        
        }
        @keyframes animate-3{
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(-100%);
        }
        }

        .lineas span:nth-child(4){
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(to left, transparent,#17f3fd);
            animation-delay: 1s;
            animation: animate-4 2s linear infinite;
            }
            @keyframes animate-4{
            0%{
                transform: translateY(100%);
            }
            100%{
                transform: translateY(-100%);
            }
            }
.formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9fa4c;
    border: 1px solid #cccccc00;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: rgba(247, 246, 246, 0.742);
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0d0d0d00;
    border-radius: 5px;
    font-size: 16px;
}

.submit-btn-wrap {
    text-align: center;
}

.theme-btn {
    background-color: #060707;
    color: rgb(253, 253, 253);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.theme-btn:hover {
    background: black;
    color: white;
}

/* footer desing */

footer {
    margin-top: 6.5rem;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.592);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}


footer .menu li a {
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;

}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}